@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	background: #1d1917;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #f5f3e9;
}

header h1 {
	float: left;
}

nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li{
	display: inline;
	margin-left: 5px;
}

a {
	color: #f5f3e9;
}

h1 {
	margin: 0;
}

h1 a {
	color: #f7db21;
	text-decoration: none;
}

h1 a:hover {
	text-decoration: underline;
}

em {
	color: #f7db21;
	padding: 0 3px;
}

#submit_drink_table td {
	padding-right: 10px;
}

#container {
	max-width: 1000px;
	min-width: 300px;
	margin: 30px auto;
	display: block;
	/*background: #cbbaf7;*/
	padding: 30px;
}

#left {
	float: left;
	width: 50%;
}

#right {
	float: right;
	width: 50%;
}

#submit_drink input {
	/*display: block;*/
	margin: 10px 0;
}

#submit_drink input[type="radio"] {
	display: inline;
	margin-right: 5px;
}

.clear {
	clear: both;
}

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
	#left {
		float: none;
		width: 100%;
	}

	#right {
		float: none;
		width: 100%;
	}
	header h1, nav {
		float: none;
	}
}