@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	background: #816bc0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

h1 {
	margin: 0;
}

#container {
	max-width: 1000px;
	margin: 30px auto;
	background: #cbbaf7;
	padding: 30px;
}

#left {
	float: left;
	width: 50%;
}

#right {
	float: right;
	width: 50%;
}

#submit_drink input {
	display: block;
	margin: 10px 0;
}

#submit_drink input[type="radio"] {
	display: inline;
}

.clear {
	clear: both;
}
